<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "header.html" . -}}
        <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
    </head>

    <body>
        <div class="container">
            <header>
              <!-- {{ partial "nav.html" . }} -->

            </header>

            <div class="content-wrapper">
                <aside class="custom-sidebar">
                    {{ partial "sidebar.html" . }}
                </aside>

                <main id="main">
                    {{ block "main" . }}{{ end }}
                </main>
            </div>
        </div>
    </body>
</html>
