<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "header.html" . -}}
        <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
        
        <!-- KaTeX support -->
        {{ if .Site.Params.katex }}
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css">
          <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"></script>
          <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js"
              onload="renderMathInElement(document.body, {
                delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '$', right: '$', display: false}
                ]
              });">
          </script>
        {{ end }}
 <!-- Plausible Analytics with outbound links + file downloads -->
 <script defer data-domain="137fsc.net" src="https://plausible.io/js/script.file-downloads.outbound-links.js"></script>
 <script>
   window.plausible = window.plausible || function() {
     (window.plausible.q = window.plausible.q || []).push(arguments)
   }
 </script>
 
 
    </head>

    <body>

	<body class="{{ if .Params.noheader }}page-noheader{{ end }}">

        <div class="container">

            {{ if not .Params.noheader }}
{{ if not .Params.noheader }}
  <header>
    {{ partial "nav.html" . }}
  </header>
{{ end }}

            {{ end }}

            <div class="content-wrapper">

                {{ if not .Params.nosidebar }}
                  <aside class="custom-sidebar">
                    {{ partial "sidebar.html" . }}
                  </aside>
                {{ end }}

                <main id="main">
                    {{ block "main" . }}{{ end }}
                </main>
            </div>
        </div>
<script>
  setTimeout(function() {
    if (window.plausible) {
      plausible('Engaged 30s');
    }
  }, 30000); // 30 seconds
</script>

    </body>
</html>
